.content{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 12px;
    background-color: #d7e3fc ;
    text-align: center;

    &__form{
        margin-top: 3%;
    }
    &__label{
        font-size: 200%;
    }

    &__input {
        width:50%;
        padding: 1.5%;
        border-radius: 15px;
        border: none;
        margin: 1%;
    }
    :focus{
        outline: none;
    }
    &__textarea{
        height: 100px;
        width:50%;
        padding: 1.5%;
        border-radius: 15px;
        border: none;
        margin: 1%;
    }
    &__button{
        background-color: #edf2fb ;
        border:none;
        padding: 1% 1%;
        width: 40%;
        margin: 1% auto;
        font-size: 140%;
        border-radius: 30px;

        &__button--last{
            margin-bottom: 4%;
        }
    }

}

@media only screen and (max-width: 850px) {
    .content {
        &__label {
            font-size: 160%;
        }

        &__input, &__textarea {
            width: 80%;
            padding: 3%;
            border-radius: 15px;
            border: none;
            margin: 1%;
        }
    }
}
@media only screen and (max-width: 600px) {
    .content {

        &__label {
            &__label--modal {
                font-size: 120%;
            }
        }

        &__button {
            width: 80%;
            margin: 2% auto;

            &__button--last {
                margin-bottom: 4%;
            }
        }
    }
}

@media (orientation: landscape ) and (max-device-width: 800px) {
    .content {

        &__form{

            margin: 0;
        }
        &__input{
            width: 90%;
            padding: 1%;
            border-radius: 15px;
            border: none;

        }

        &__textarea{
            height: auto;
            width:90%;
            padding: 1%;
            border-radius: 15px;
            border: none;
            margin: 0;
        }

        &__button {
            width: 80%;
            margin: 1% auto;

            &__button--last {
                margin-bottom: 0%;
            }
        }
    }
}