.searchBox{
    padding: 0;
    width: 60%;
}
#multiselectContainerReact {
    background-color: white;
    width: 70%;
    margin: 0 15%;
    border: 2px solid gray;
    border-radius: 8px;
}
.search-wrapper{
    border: none;
    border-radius: 0;
}
#inputField{
    margin: 50px;

}
.highlight{
    background: #6b94ff;
}
.chip{
    background: #6b94ff;
}

@media only screen and (max-width: 600px) {
    .searchBox{
        width: 80%;
    }
    #multiselectContainerReact {
        width: 90%;
        margin: 0 5%;
    }
}

@media only screen and (max-width: 1025px) {

    #multiselectContainerReact {
        width: 90%;
        margin: 0 5%;
    }
}