.modal {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #d7e3fc ;
    border-radius: 12px ;
    :focus{
        outline: none;
    }

    &__header {
        border-bottom: 1px solid gray;
        text-align: center;
        padding: 5px;
        font-size: 200%;
    }

    &__close-btn {
        cursor: pointer;
        position: absolute;
        display: block;
        padding: 2px 5px;
        line-height: 20px;
        right: -10px;
        top: -10px;
        font-size: 24px;
        background: #ffffff;
        border-radius: 18px;
        border: 1px solid #cfcece;
    }
}
@media (orientation: landscape) and  (max-width: 800px){
    .modal {
        height: 100vh;
        &__header{
            font-size: 150%;
        }
        &__close-btn{
            display: none;
        }
    }
}
.content {
    text-align: center;
    background-color: #d7e3fc ;
    width: 100%;
    border-radius: 0 0 12px 12px;
}
@media only screen and (max-width: 600px) {
    .content{
        font-size: 100%;

    }
}



.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}
.popup-content {
    margin: auto;
    width: 50%;
}
@media only screen and (max-width: 1025px) {
    .popup-content {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .popup-content {
        width: 90%;
    }
}

@media (orientation: landscape) and (max-width: 800px){
    .popup-content {
        width: 100%;
    }
}